<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title><%= title %></title>
		
		<link rel="shortcut icon" href="/favicon.ico?v=2" />
	</head>
	<body>
		<div id="center" class="container" style="display:none;">
			<div id="errorbox" class="horizontal-center">
			</div>
			<div class="vertical-center">
				<div id="chartmenu">
					<div id="menu" class="row">
					<button class="col-md-2 text-center btn btn-default" id="back_col">Clear Map</button>
					<div class="col-md-7">
						<div class="input-group">
							<input class="form-control" id="inputDefault" type="text" placeholder ="Search something">
							<span class="input-group-btn">
								<button class="btn btn-primary" id="searchbuttom" type="button">Search</button>
							</span>
						</div>
					</div>
					<div class="col-md-3 select_col">
						<select class="form-control" id="select"></select>
					</div>
					</div>
					<div id="chart"></div>
				</div>
			</div>
			<div id="trends" class="list-group text-center"></div>
		</div>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		
		<link href="stylesheets/bootstrap.min.css" rel="stylesheet">
		<script src="javascripts/bootstrap.min.js"></script>
		<script type="text/javascript" src="javascripts/mapGen.js"></script>
		<link href="stylesheets/core.css" rel="stylesheet" type="text/css"/>
	</body>
</html>

