<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
		<meta charset="utf-8">
		<link rel="shortcut icon" href="/favicon.ico?v=2" />
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script type="text/javascript" src="/javascripts/mapGen.js"></script>
		<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div id="errors">Heres some errors if any</div>
		<div id="center">
			<div id="chartArea">
				<div id="chart"></div>
				<div id="menubar">
					<div id="overlay">Back</div>
					<div id="title">Select a Country or a topic</div>
				</div>
			</div>
			<div id="trends"></div>
		</div>
	</body>
</html>

