body {
	background-color: #292F33;
}

.tooltip-inner {
	z-index: 9999 !important;
}

#navi {
	margin-bottom: 0px !important;
}

#twitdivs {
	height: 660px;
    max-height: 660px;
	overflow-y: scroll;
}

#worldsearch {
	margin-top: 23px;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}

#tweets {
	height: 660px;
	max-height: 660px;
    overflow: hidden;
}

.progress {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	background-color: #060606;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}

.progress-bar {
	background-color: #099;
}

.col-md-12 {
	margin-left: 0px !important;
	margin-right: 0px !important;
	
	padding-right: 0px !important;
	padding-left: 0px !important;
}

.side-left {
	margin-left: 0px !important;
	margin-right: 0px !important;
	
	padding-right: 0px !important;
	padding-left: 0px !important;
}

.chart-center {
	margin-left: 0px !important;
	padding-left: 0px !important;
	margin-right: 0px !important;
	padding-right: 0px !important;
}

.chart-center > .row {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

#happening.btn-info {
	background-color: #000000 !important;
	border-color: #000000 !important;
}

#where-button {
	margin-top: 3px;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}

.side-right {
	margin-right: 0px !important;
	margin-left: 0px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.full-body {
	margin-left: 0px !important;
	margin-right: 0px !important;
	
	padding-right: 0px !important;
	padding-left: 0px !important;
}

.list-group > a, .list-group, .list-group > li {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}
.list-group {
	cursor: pointer;
}

.badge {
	font-size: 14px;
}

.img-badge {
	display: inline-block;
	min-width: 10px;
	padding: 2px 2px;
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
	line-height: 1;
	vertical-align: middle;
	white-space: nowrap;
	text-align: center;
	background-color: #2A9FD6;
	border-radius: 10px;
	float: right;
	margin-left: 5px;
}

.itemTitle {
	font-size: 16px;
}

#chart {
	width: 100%;
}

#chart path {
/*

	stroke-width:1; 
	stroke:#6699cc; 
	cursor:pointer;
	*/
}

/* 
#099
#292F33

*/




